*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #f3f3f3;
}
header{  
    .nav-superior{
        background-color: #4DFBFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 10px;
    }
    .nav-superior img{
        height: 2.9rem;
        /* padding: 0 20vw; */
        margin: 0 20vw;
    }
    .nav-superior i{
        padding: 0 .8rem;
        font-size: 1.7em;
        color: #000000;
    }
    .nav-superior i:hover{
        background-color: #0136442a;
        border-radius: 3px;
    }

    .search-container {
        flex: 1;
        display: flex;
        position: absolute;
        left: 50%;
        right: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .buscador{
        display: flex;
        align-items: center;
        padding: 0 18vw;
    }

    }
    .nav-superior img{
        height: 2.5rem;
        padding: 0 1rem;
    }
    .nav-superior i{
        padding: 0 .3rem;
        font-size: 1.4em;
        color: #000000;
    }
    .nav-superior i:hover{
        background-color: #000000;
    }
    .buscador{
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
    .buscador-input{
        display: flex;
        align-items: center;
        padding: 0 .3rem;
        border: none;
        border-radius: 10px;
    }

    #search {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 20px 0 0 20px;
        width: 25vw;
        box-shadow: 0px 1px 1px 1px #0c2a2b15;
    }

    #search:hover {
        background-color: #f3f3f3;
    }

    .btn-pesquisar {
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 0 20px 20px 0;
        background-color: #FF904D;
        color: #000000;
        cursor: pointer;
        box-shadow: 0px 1px 1px 1px #0c2a2b15;
    }

    .btn-pesquisar:hover {
        background-color: #e9752d;
    }
    .nav-inferior{
        background-color: #000000;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 1 1px #00000044;
    }
    .nav-inferior a{
        color: #ffffff;
        padding: .8rem 1.9rem;
    }
    .nav-inferior{
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-inferior a{
        color: #ffffff;
        padding: .3rem 1rem;
        transition: all .4s;
    }
    .nav-inferior a:hover{
        color: #4d6098;
        background-color: #ffffff;
    }

.slide-container {
    overflow: hidden;
    height: 425px;
    width: 1200px;
    margin: 25px auto;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #00000044;
    
}

@-webkit-keyframes slide_animation{
    0% { left: 0; }
  10% { left: 0; }
  20% { left: -425px; }
  30% { left: -425px; }
  40% { left: -850px; }
  50% { left: -850px; }
  60% { left: -1275px; }
  70% { left: -1275px; }
  80% { left: -1700px; }
  90% { left: -1700px; }
  100% { left: 0; }
}


.slide-frames {
    width: 2975px;
    height: 425px;
    position: absolute;
    top: 0;
    left: 0;
    animation: slide_animation 25s infinite ease-in-out;
    
}

.slide {
    height: 425px;
    width: 425px;
    float: left;
}

.background {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 500px;
    border-radius: 10px 10px 0 0;
    background-color: #ff914d46;
    z-index: -1;
    background-image: linear-gradient(to bottom, #ff914d46, #f3f3f3);
}

.background h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 18%;
    padding-top: 4%;
}

#product-container {
    max-width: 1280px;
    padding-left: 3%;
    padding-top: 5%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 30%;
    height: 20rem;
    padding: 2rem;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px;

}